﻿#banner{
    width: 100%;
    margin-bottom: 40px;
    opacity: 0;
}

#bienvenida{
    margin-top: 20px;
    margin-bottom: 40px;
}

#bienvenida-span p{
    text-align: center;
    font-size: 18pt;
    font-weight: 500;
    opacity: 0;
}

#bienvenida-span p span{
    color: #d60606;
}

#bienvenida-title{
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: 600;
    margin-bottom: 30px;
}

#bienvenida-text{
    font-size: 14pt;
    text-align: justify;
    line-height: 18pt;
}

#img-bienvenida{
    width: 100%;
}

#eventos-div{
    background: url(../../Images/Home/Eventos/fondo.jpg);
    background-size: cover;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#eventos-title{
    font-size: 16pt;
}

.eventos-thumbs{
    margin-top: 20px;
}

.eventos-thumbs, .thumb-container{
    cursor: pointer;
}

.eventos-thumbs img{
    margin: 0 auto;
    width: 100%;
}

.eventos-thumbs-titles{
    font-size: 24pt;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

#eventos-div hr{
    padding: 0;
    margin: 10px;
    color: #fff;
    background-color: #fff;
    height: 1px;
}

.thumb-container{
    background-color: #f4f4f4;
    text-align: center;
    padding: 35px;
}

.thumb-container i{
    font-size: 88pt;
}

.thumb-container p{
    font-size: 17pt;
}

#mapa img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

#coment-banq hr{
    padding: 0;
    margin: 12px;
    color: #ebe8e8;
    background-color: #ebe8e8;
    height: 1px;
}

#coment-title, #banq-title{
    font-size: 20pt;
    font-weight: 500;
    text-transform: uppercase;
}

.coment-div img{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.coment-div .coment-text{
    font-size: 12pt;
    font-weight: 500;
}

.coment-div .coment-name{
    font-weight: 600;
}

@media (max-width: 992px) {
    .thumb-container p{
        font-size: 13pt;
    }
}

@media (max-width: 768px){

    #img-bienvenida{
         width: 50%;
     }

    .col-xs-15{
        padding: 3px;
    }

    .eventos-thumbs-titles{
        font-size: 16pt;
    }

    #servicios, #reservaciones, #ubicacion{
        padding: 2px;
    }

    .thumb-container{
        padding: 5px;
    }

    .thumb-container i{
        font-size: 28pt;
    }

    .thumb-container p{
        font-size: 10pt;
    }

    .coment-div{
        padding: 5px;
    }

    .coment-div .coment-text{
        font-size: 10pt;
    }
}

@media (max-width: 480px){

    #bienvenida-text p{
         font-size: 12pt;
     }

    #img-bienvenida{
         width: 100% !important;
     }

    .eventos-thumbs-titles{
        font-size: 12pt;
    }

}

@media (min-width: 768px){ /* sm */
    .eventos-thumbs img{
        margin-top: 0;
    }

    .eventos-thumbs-titles{
        background-color: rgba(255, 255, 255, 0.08);
    }

    .coment-div .coment-text {
        height: 150px;
    }

    #bienvenida-span p{
        font-size: 28pt;
    }

    #img-bienvenida{
         width: 100%;
     }
}