﻿#banner{
    width: 100%;
    margin-bottom: 40px;
    opacity: 0;
}

h2{
    font-size: 18pt;
    font-weight: 600;
}

#reserv-text{
    font-size: 14pt;
    font-weight: 400;
    text-align: justify;
}

#reserv-text span{
    color: #d60606;
}

#reserv-text i{
    font-size: 24pt;
    vertical-align: middle;
}

img{
    width: 100%;
    margin-bottom: -40px;
}

form{
    padding-top: 60px;
}

form .row{
    margin-bottom: 5px;
}

form input{
    width: 100%;
    margin-bottom: 15px;
    padding: 6px;
    
    text-decoration: none;
    border: solid 1px #ddd;
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

form label{
    vertical-align: middle;
    margin-top: 8px;
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 13pt;
}

#label-comentarios{
    margin-top: 30px;
}

#comentarios{
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
}

::-webkit-input-placeholder {
   color: #ddd;
   font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd;
   font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
   font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

:-ms-input-placeholder {  
   color: #ddd;
   font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 14pt;
}

#btn-1, #btn-2{
    height: 50px;
    float: left;
    background-color: #d60606;
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-size: 18pt;
    color: #fff;
    cursor: pointer;
}

#btn-1 span, #btn-2 i{
    vertical-align: middle; 
}

#btn-1{
    padding: 5px 25px;
}

#btn-2{
    padding: 4px 12px;
    opacity: 0.45;
}

#btn-2 i{
    font-size: 32pt;
}