﻿body, html{
    padding: 0 !important;
    margin: 0 !important;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
    
}

hr.line{
    color: #a5a2a2;
    background-color: #a5a2a2;
    height: 1.5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

i:hover{
    color: #d60606;
}

a{
    color: #000;
}

a:link{
    text-decoration: none;
}

a:hover{
    color: #d60606;
}

#header-top-bar{
    background-color: #000;
    color: #fff;
    font-size: 13pt;
    text-align: right;
    height: 30px;
    margin-bottom: 30px;
}

#header-top-bar span{
    vertical-align: middle;
}

#header{
    opacity: 0;
}

#header-top-bar i{
    padding-left: 35px;
    vertical-align: middle;
    font-size: 18pt;
}

#header-logo img{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
}

.menu-trigger{
    display: none;
    cursor: pointer;
    background-color: #555;
    text-align: right;
    padding: 5px;
    color: #fff;
    margin-top: 20px;
    border-bottom: solid 2px #d60606;
}

.menu-trigger:hover{
    background-color: #333;
}

.menu-trigger *{
    font-size: 12pt !important;
}

#header-menu ul{
    font-size: 17pt;
    margin: 0 auto;
    text-align: center;
}

#header-menu ul li{
    display: inline-block;
    margin-left: 45px;
    text-align: left;
}

footer{
    background-color: #000;
    color: #fff;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13pt;
    font-weight: 500;
    text-align: left;
}

footer a{
    color: #fff;
}

footer .footer-title{
    text-transform: uppercase;
    font-size: 14pt;
    font-weight: 500;
    cursor: pointer;
}

footer .footer-title:hover{
    color: #aaa;
}

#footer-bottom{
    background-color: #222;
    color: #fff;
}

#footer-bottom p{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#footer-bottom #footer-privacy{
    float: left;
}

#footer-bottom #footer-company-name{
    float: right;
}

#footer-bottom #footer-company-name a{
    color: #0094ff;
}

#footer-4 i{
    font-size: 15pt;
    color: #000;
    text-align: center;
}

#footer-4 .circle{
    display: inline-block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


/*Crear 5 columnas iguales en bootstrap*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15
{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
 
.col-xs-15
{
    width: 20%;
    float: left;
}

@media (max-width: 1200px){
    #header-logo img{
        width: 50%;
        margin-bottom: 20px;
    }

    #header-menu ul li {
        margin-left: 22px;
        margin-right: 22px;
    }
}

@media (max-width: 768px){

    #header-logo img {
        width: 60%;
    }

    #header-menu{
        display: none;
        padding: 0;

    }

    #header-menu ul li{
        width: 100%;
        padding: 0 20px;
        margin: 0;
        background-color: #eee;
        border-bottom: solid 1px #ddd;
    }

    .menu-trigger{
         display: block;
     }

    .expand-menu{
        display: block;
    }

    .footer-content{
        display: none;
    }

}
 
@media (min-width: 768px)
{
    #header-menu ul{
        margin-bottom:20px;
    }

    .col-sm-15
    {
        width: 20%;
        float: left;
    }

    #footer-3 p{
        margin-left: 45px;
    }

    #footer-4{
        padding-left: 60px;
    }
}
 @media (max-width: 480px){
     #header-top-bar, #header-top-bar i{
         font-size: 10pt;
         padding: 5px;
     }
 }

@media (min-width: 992px)
{
     .col-md-15
     {
        width: 20%;
        float: left;
    }

}
 
@media (min-width: 1200px)
{
    .col-lg-15
    {
        width: 20%;
        float: left;
    }

    #header-menu {
        margin-top: 80px;
    }

    #header-menu ul {
        float: right;
    }
}